CodeReading.View/Connected Services/HistoryService/CodeReadingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62645/CodeReadingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CodeReading.Entity" />
  <xs:element name="Initialize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CodeReading.Entity" minOccurs="0" name="loginInfo" nillable="true" type="q1:LoginInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CodeReading.Entity" minOccurs="0" name="InitializeResult" nillable="true" type="q2:InitializeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CodeReading.Entity" minOccurs="0" name="searchConditions" nillable="true" type="q3:SearchConditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CodeReading.Entity" minOccurs="0" name="SearchResult" nillable="true" type="q4:SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>