CodeReading.View/Connected Services/HistoryServiceReference/HistoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HistoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62645/History/HistoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62645/History/HistoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62645/History/HistoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CodeReading.Entity" />
      <xsd:import schemaLocation="http://localhost:62645/History/HistoryService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:62645/History/HistoryService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CodeReading.Entity.History" />
      <xsd:import schemaLocation="http://localhost:62645/History/HistoryService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CodeReading.Entity.Comm" />
      <xsd:import schemaLocation="http://localhost:62645/History/HistoryService.svc?xsd=xsd6" namespace="http://tempuri.org/HistoryDataSet.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHistoryService_Initialize_InputMessage">
    <wsdl:part name="parameters" element="tns:Initialize" />
  </wsdl:message>
  <wsdl:message name="IHistoryService_Initialize_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeResponse" />
  </wsdl:message>
  <wsdl:message name="IHistoryService_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IHistoryService_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:portType name="IHistoryService">
    <wsdl:operation name="Initialize">
      <wsdl:input wsaw:Action="http://tempuri.org/IHistoryService/Initialize" message="tns:IHistoryService_Initialize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHistoryService/InitializeResponse" message="tns:IHistoryService_Initialize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IHistoryService/Search" message="tns:IHistoryService_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHistoryService/SearchResponse" message="tns:IHistoryService_Search_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHistoryService" type="tns:IHistoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Initialize">
      <soap:operation soapAction="http://tempuri.org/IHistoryService/Initialize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IHistoryService/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HistoryService">
    <wsdl:port name="BasicHttpBinding_IHistoryService" binding="tns:BasicHttpBinding_IHistoryService">
      <soap:address location="http://localhost:62645/History/HistoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>