CodeReading.View/Connected Services/HistoryServiceReference/HistoryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CodeReading.Entity.History" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CodeReading.Entity.History" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62645/History/HistoryService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CodeReading.Entity.Comm" />
  <xs:complexType name="InitializeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxRowsCount" type="xs:int" />
      <xs:element minOccurs="0" name="SysDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InitializeResult" nillable="true" type="tns:InitializeResult" />
  <xs:complexType name="SearchConditions">
    <xs:sequence>
      <xs:element minOccurs="0" name="HsDbId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HsDtpFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HsDtpTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HsOther1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HsOther2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HsOtherID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HsPass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HsSigned" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchConditions" nillable="true" type="tns:SearchConditions" />
  <xs:complexType name="SearchResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CodeReading.Entity.Comm" minOccurs="0" name="ErrorInfo" nillable="true" type="q1:ErrorInfo" />
      <xs:element minOccurs="0" name="SearchData" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="HistoryDataSet.SearchListDataTable" Namespace="http://schemas.datacontract.org/2004/07/CodeReading.Entity" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
          <xs:attribute fixed="http://tempuri.org/HistoryDataSet.xsd" name="namespace" />
          <xs:attribute fixed="SearchListDataTable" name="tableTypeName" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Suceeded" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResult" nillable="true" type="tns:SearchResult" />
</xs:schema>